* {
  box-sizing: border-box;
  
  
}
body {
  width: 100%;
  height: 100vh;
 background: url(assets/freedom.jpg) no-repeat center;
  
 background-size: cover;
}
h1,h2 {
  font-weight: 300;
  text-align: center;
}
h1 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 2.5rem;
  line-height: 3.5rem;
  
}
h2 {
  font-style: italic;
  font-size: 1.3rem;
  padding-top: 3rem;
  font-family: 'Crimson Text', serif;
}
.quote {
  padding: 6rem;
}
